<div class="container">
  <h4>Files: <code>{{container.target.name}}</code></h4>
</div>
<div class="container">
  <table class="table table-striped">
    <tbody>
    {{#if container.target.parent}}
      <tr>
        <td colspan="3">
          <a href="{{container.target.parent}}">../</a>
        </td>
      </tr>
    {{/if}}
    {{#each resources}}
      <tr>
        <td>
          <a href="{{this.target.url}}">
            {{#if this.isContainer}}
              <img src="/common/img/folder_icon.png"/>
            {{/if}}
            {{this.target.name}}{{#if this.isContainer}}/{{/if}}
          </a>
        </td>
        <td>
          {{this.fsStats.size}}
        </td>
        <td>
          <button class="btn btn-default btn-xs btn-default share" id="share-{{this.target.url}}">
            <img src="/common/img/share_icon.png" />
            Share
          </button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
<script>
  window.addEventListener('load', () => { init() })

  function init () {
    const buttons = document.getElementsByClassName('share')

    for (let button of buttons) {
      button.addEventListener('click', (event) => {
        const resourceUrl = event.target.id.split('-')[1]

        const popupUrl = '/api/share?url=' + resourceUrl

        window.open(popupUrl, 'Share', 'menubar=no,resizable=yes,width=400,height=400');
      })
    }
  }
</script>
