<div class="container">
  <h4>Files: <code>{{container.target.name}}</code></h4>
</div>
<div class="container">
  <table class="table table-striped">
    <tbody>
    {{#if container.target.parent}}
      <tr>
        <td colspan="3">
          <a href="{{container.target.parent}}">../</a>
        </td>
      </tr>
    {{/if}}
    {{#each resources}}
      <tr>
        <td>
          <a href="{{this.target.url}}">
            {{#if this.isContainer}}
              <img src="/common/img/folder_icon.png"/>
            {{/if}}
            {{this.target.name}}
          </a>
        </td>
        <td>
          {{this.serverMeta.size}}
        </td>
        <td>
          {{#unless this.target.isAcl}}
            <button class="btn btn-default btn-xs share" id="share-{{this.target.url}}">
              <img src="/common/img/share_icon.png" />
              Share
            </button>
          {{/unless}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
<script>
  onReady(init)

  function onReady(fn) {
    if (document.readyState !== 'loading'){
      fn();
    } else {
      document.addEventListener('DOMContentLoaded', fn);
    }
  }

  function init () {
    const buttons = document.getElementsByClassName('share')

    for (let button of buttons) {
      button.addEventListener('click', (event) => {
        const resourceUrl = event.currentTarget.id.split('-').slice(1).join('-')

        const popupUrl = '/api/share?url=' + resourceUrl

        window.open(popupUrl, 'Share', 'menubar=yes,resizable=yes,width=600,height=400');
      })
    }
  }
</script>
